       
              <div class="financial-application-form">
             <h2>Contact Us</h2>
             <p><strong>Head Quarters</strong></p>
              <p>GrepRuby Pvt. Ltd.</br>
              311, Akashdeep Complex</br>
              21, Sneh Nagar</br>
              Sapna Snageeta Road</br>
              Indore, Madhaya Pradesh 452001</br>
              Phone:+917415380716, 9329635863</br>
              E-mail: mkumar.rails@gmail.com
             </p>
             </div>
            
             <div class="testimonials">
                     <div class="">
          <div style="text-align:right;"><img src="/assets/ContactUs_BluePeople.jpg" alt="" title="" border="0" class="pic" /></div>
    </div>
             </div>
        
        <div class="clear"></div>
        </div>

