<div class="slogan">
    <h1>We build web and mobile apps that change the way people live.</h1>
</div> 
  
<div id="slideshow">
    <div class="wrap"><img alt="Wrap" src="/assets/wrap.png"></div>
    <div class="nivoSlider" style="position: relative; background: url(/assets/rdfrs.png) no-repeat scroll 0% 0% transparent;" id="slide-scroll">
        <a style="display: block;" class="nivo-imageLink" href="#"><img style="display: none;" alt="rdfrs" src="/assets/rdfrs.png"></a>
        <a style="display: none;" class="nivo-imageLink" href="#"><img style="display: none;" alt="thoughts" src="/assets/thoughts.png"></a>
        <a style="display: none;" class="nivo-imageLink" href="#"><img style="display: none;" alt="zbb" src="/assets/zbb.png"></a>
        <a style="display: none;" class="nivo-imageLink" href="http://hitchgreen.com/"><img style="display: none;" alt="hitchgreen" src="/assets/hitchgreen.png"></a>
        <div style="display: none; opacity: 0.8;" class="nivo-caption">
            <p></p>
        </div>
        <!--<div class="nivo-controlNav">
            <a class="nivo-control active" rel="0">1</a>
            <a class="nivo-control" rel="1">2</a>
            <a class="nivo-control" rel="2">3</a>
            <a class="nivo-control" rel="3">4</a>
            <a class="nivo-control" rel="4">5</a>
            <a class="nivo-control" rel="5">6</a>
            <a class="nivo-control" rel="6">7</a>
        </div>-->
        <div style="left: 0px; width: 950px; height: 100%; opacity: 1; background: url(/assets/rdfrs.png) no-repeat scroll 0px 0% transparent;" class="nivo-slice"></div>
    </div>
</div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4e39a464f5a1f53236000003');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
