<div class="discus_blog" >
	<br> <br>
	<div class = "discuss_form" >
		<font size ="6px"><%= link_to "Discussion", posts_path %> >> Add New Discussion</font>
		<br> <br>	
		<%= render 'form' %>
	</div>
	<br> <br>	
</div>