// Place all the styles related to the customer_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.listing_customer_requests{
	margin-left: 50px;
  }


.customer_request{
	font-size: 15px;
	}

.customer_destroy{
	font-size: 14px;
	margin-left: 200px;
  margin-top: -17px;
	}

.paginate{
	font-size: 14px;
	margin-left: 10px;
}
