	<!-- Footer -->	
	<footer>
	 <div class="footer-content ">
	 	<div class="container">
	 		    <div class="row">
				    <div class="span12">
					    <div class="row">
						    <div class="span8">
						    	<div class="row">
						    		<div class="menu-div">
							    		<div class="span2m">
							    			<ul class="footer-menu unstyled">
							    				<li class="header-list">Who we are</li>
							    				<li><a href="/about">About GrepRuby</a></li>
							    				<li><a href="/our-team">Our Team</a></li>
							    				<li style="margin-top: 15px;"><a href="https://www.facebook.com/pages/GrepRuby/323789384382834" style="margin-right: 10px;" target="_blank"><img src="/assets/facebook.png" alt="Facebook" title="like us"/></a> <a href="https://twitter.com/grepruby" target="_blank"><img src="/assets/twitter.png" alt="Twitter" title="follow us"/></a></li>
							    			</ul>
							    		</div>
							    		<div class="span2m">
							    			<ul class="footer-menu unstyled">
							    				<li class="header-list">How we can Help</li>
							    				<li><a href="/service">Ruby on Rails Services</a></li>
							    			</ul>
							    		</div>
							    		<div class="span2m">
							    			<ul class="footer-menu unstyled">
							    				<li class="header-list">Who are with us</li>
							    				<li><a href="/our-project">Our Projects</a></li>
							    				<li><a href="/contact">[ JOIN TO THE GROUP ]</a></li>
							    			</ul>
							    		</div>
							    	</div>
						    	</div>
						    </div>
						    <div class="span4">
						    	<div class="contact-section OpenSansLight">
						    		<p class="email">GrepRuby Pvt. Ltd.</p>
						    		<p>312, Akashdeep Complex Sneh Nagar Sapna Snageeta Road </p>
						    		<!--<p>21, Sneh Nagar Sapna Snageeta Road</p>-->
						    		<p>Indore, Madhaya Pradesh 452001</p>
						    		<p>Phone:0731-4279592,+917415380716</p>
						    		<p class="copyright">&copy; GrepRuby Pvt. Ltd.</p>
						    	</div>
						    </div>
					    </div>
				    </div>
				</div>
	 	</div>
	 </div>
	</footer>
