<!-- Header -->
<header>
  <div class="header-content">
    <div class="container">
				
 <div id="bgheader"><!-- BEGIN: header -->
<div id="header">

	
      <a class="logo" href="/">GrepRuby</a>
      <div class="nav">
	    <ul>
	      <li <% if params[:path]== "" %>class="selected" <% end %> ><a class="home" href="/">Home</a></li>
	      <li <% if params[:path]== "our-project" %> class="selected" <% end %> ><a class="work" href="/our-project">Work</a></li>
		  <li <% if params[:path]== "what-we-do" %> class="selected" <% end %> ><a class="services" href="/what-we-do">What we do</a></li>
		  <li <% if params[:path]== "our-team" %> class="selected" <% end %> ><a class="community" href="/our-team">Our team</a></li>
		  <li <% if params[:path]== "contact" %> class="selected" <% end %> ><a class="contact" href="/contact">Contact us</a></li>
		  <li <% if params[:path]== "" %> class="selected" <% end %> ><a class="blog" href="/blog">Blog</a></li>
	    </ul>
	  </div>
	
</div>
</div><!-- END: header -->
	</div>
  </div>
</header>
