<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <%= render :partial => "/refinery/head" %>
        <!--<title>GrepRuby: Ruby on Rails Internet Software Development</title>--> 

    </head>

    <body>
        <div style="display: none;" id="cboxOverlay"></div>
        <div class="" id="colorbox" style="padding-bottom: 50px; padding-right: 50px; display: none;">
            <div style="" id="cboxWrapper">
                <div style="">
                    <div style="float: left;" id="cboxTopLeft"></div>
                    <div style="float: left;" id="cboxTopCenter"></div>
                    <div style="float: left;" id="cboxTopRight"></div>
                </div>
                <div style="clear: left;">
                    <div style="float: left;" id="cboxMiddleLeft"></div>
                    <div style="float: left;" id="cboxContent">
                        <div class="" style="width: 0pt; height: 0pt; overflow: hidden;" id="cboxLoadedContent">
                        </div>
                        <div class="" style="" id="cboxLoadingOverlay"></div>
                        <div class="" style="" id="cboxLoadingGraphic"></div>
                        <div class="" style="" id="cboxTitle"></div>
                        <div class="" style="" id="cboxCurrent"></div>
                        <div class="" style="" id="cboxNext"></div>
                        <div class="" style="" id="cboxPrevious"></div>
                        <div class="" style="" id="cboxSlideshow"></div>
                        <div class="" style="" id="cboxClose"></div>
                    </div>
                    <div style="float: left;" id="cboxMiddleRight"></div>
                </div>
                <div style="clear: left;">
                    <div style="float: left;" id="cboxBottomLeft"></div>
                    <div style="float: left;" id="cboxBottomCenter"></div>
                    <div style="float: left;" id="cboxBottomRight"></div>
                </div>
            </div>
            <div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div>
        </div>

        <%= render 'layouts/header' %>
  
        <div id="content"><!-- BEGIN: content -->
            <%= yield %>
        </div><!-- END: content -->

        <%= render 'layouts/footer' %>


    </body>
</html>